name: My Workflow

on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set env variables
      run: echo "DOCKER_IMAGE_TAG=${{ github.run_number }}" >> $GITHUB_ENV
    outputs:
      DOCKER_IMAGE_TAG: ${{ env.DOCKER_IMAGE_TAG }}      
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Get env variables
      run: echo "DOCKER_IMAGE_TAG=${{ needs.build.outputs.DOCKER_IMAGE_TAG }}"
   
