  name: Docker
on: 
  workflow_dispatch
jobs:
   Docker_Image_Push: 
     needs: Build_Scan_Docker_Image
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: "11"
          distribution: adopt
          cache: maven
      - name: Build before create image
        run: mvn package -DforkMode=never

      - name: Log in to Amazon ECR
        uses: docker/login-action@v1
        with:
          registry: pavan9999/github-actions
          username: pavan9999
          password: pavan@27	
      - name: Build and push Docker image to Amazon ECR
        uses: docker/build-push-action@v2
        with:
         context: .
         push: false
         tags: pavan9999/github-actions:latest
         registry: pavan9999/github-actions
